:root {
  --main-bk: #003153;
  --main-fc: #FBFBFF;
  --land-bk: #FFD688;
  --secd-bk: #A7A8BD88;
  --secd-fc: #003153B8;
  --note-bk: #EF7A82;
  --wave-bk: #1890FF;
  --blue-bk: #1890FFB8;
  --icon-run: #66FF00;
  --icon-bk: #66FF0088;
  --grey-bk: #F0F2F5;
  --red-bk: #FF2828;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', -apple-system, Arial;
  color: var(--main-fc);
  background-color: var(--main-bk);
}
ul, li {
  padding: 0;
  list-style: none;
}
section {
  box-sizing: border-box;
}
.lflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lflex--wrap {
  flex-wrap: wrap;
}

.land8 {
  height: 100vh;
}
.land8_title {
  font-size: 2em;
  margin-bottom: .6em;
  text-align: center;
  color: var(--main-fc);
}
.land8_container {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.land {
  position: relative;
  min-width: 120px;
  min-height: 120px;
  width: 20%;
  background: var(--land-bk);
  border: 1px solid var(--grey-bk);
  cursor: pointer;
}
.land:first-child {
  border-top-left-radius: .5em;
}
.land:nth-child(4) {
  border-top-right-radius: .5em;
}
.land:nth-child(5)  {
  border-bottom-left-radius: .5em;
}
.land:nth-child(8) {
  border-bottom-right-radius: .5em;
}
.land_info {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: .2em .6em;
  word-break: break-all;
  color: var(--note-bk);
  height: 100%;
  box-sizing: border-box;
}
.land_bottominfo {
  position: absolute;
  bottom: .2em;
  left: 0;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 .5em;
  box-sizing: border-box;
  opacity: 0;
}
.land:hover .land_bottominfo, .land:hover .land_check, .land--checked .land_bottominfo, .land--checked .land_check {
  opacity: 1;
}
.land--checked {
  filter: saturate(0.5);
}
.land_check {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 1em;
  height: 1em;
  margin: 0;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}
.land_owner {
  width: 80%;
}
.land_price {
  min-width: 50px;
  margin-left: 6px;
  text-align: right;
}

.land8_account {
  width: 80%;
  text-align: center;
  margin: 1em auto;
  padding: .4em;
  font-size: 1.2em;
  border: 1px solid;
  border-radius: .5em;
}

.land8_accountinfo {
  /*margin-left: 2em;*/
}

.land_perate {
  width: 80%;
  margin: auto;
}
.land_button {
  min-width: 100px;
  color: var(--main-fc);
  background: var(--wave-bk);
  cursor: pointer;
}
.land_button, .land_input, .land_select {
  height: 36px;
  margin: 0 .4em;
  padding: 0 .4em;
  border-radius: .5em;
  border: none;
  font-size: 1.2em;
}
.land8_contractinfo .land_input {
  width: 570px;
}

.move_test {
  text-align: center;
  border: 1px solid;
  padding: .8em 1.4em;
  width: 80%;
  margin: 3em auto;
  border-radius: .5em;
}

.test_fetch {
  flex-direction: column;
  margin-top: 1.5em;
}
.land_textarea {
  height: 260px;
  width: 60%;
  min-width: 420px;
  border-radius: .5em;
  font-size: 1.2em;
  padding: .4em .5em;
  margin-bottom: .6em;
}
.test_fetchnode {
  flex-direction: column;
}
.test_result {
  border: 1px solid;
  margin-top: 1em;
  font-size: 1.2em;
  padding: .5em;
  border-radius: .4em;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
}

.h40 {
  height: 40px;
}
.greybk {
  background-color: var(--secd-bk);
}
.greenbk {
  background-color: var(--icon-bk);
}
.hide {
  display: none;
}
